<%= form_for @micropost do |f| %>
<%= render 'shared/error_messages', :object => f.object %>
<div class="field">
  <%= f.text_area :line0 %>
  <%= f.text_area :line1 %>
  <%= f.text_area :line2 %>
</div>
<div class="actions">
  <%= f.submit "Submit" %>
</div>
<% end %>
